<section class="hero block" aria-labelledby="hero-heading">
    <div class="wrapper-lg columns gap-md">
        <div class="hero__content col margin-block-auto">
          <div class="accent-line wrapper-sm flow">
            <h1 class="no-margin" id="hero-heading">{{ .heading }}</h1>
            <p>{{ .body | markdownify }}</p>
            {{ if .button.enabled }}
              {{ with .button }}
                  <a class="btn btn--primary" href="{{ .button_url }}" {{ if .open_in_new_tab }}target="_blank"{{ end }}>{{ .button_text }}</a>
              {{ end }}
            {{ end }}
          </div>
        </div>
        <div class="hero__image-grid decorative-image col">
          <div class="hero__image-grid-1 hero__image rounded-image">
            <img class="animate-slowpulse" src="{{ .image_1.image_url }}" alt="{{ .image_1.image_alt }}" width="1800" height="600">
          </div>
          <div class="hero__image-grid-2 hero__image rounded-image">
            <img class="animate-slowpulse" src="{{ .image_2.image_url }}" alt="{{ .image_2.image_alt }}" width="1800" height="600">
          </div>
          <div class="hero__image-grid-3 hero__image rounded-image">
            <img class="animate-slowpulse" src="{{ .image_3.image_url }}" alt="{{ .image_3.image_alt }}" width="1800" height="600">
          </div>
          <img class="decorative-image__circles background-circles" src="/uploads/circles-background.svg" alt="">
        </div>
    </div>
</section>