{{ if gt $.Paginator.TotalPages 1 }}
{{ $minPages := sub .Paginator.PageNumber 1 }}
{{ $maxPages := sub .Paginator.TotalPages .Paginator.PageNumber }}
{{ $haspagination__dots := or (gt $minPages 2) (gt $maxPages 2) }}
{{ $hasMaxPages := and (ge $minPages 2) (ge $maxPages 2) }}

<div class="pagination">
    {{ if .Paginator.HasPrev }}
    <a class="pagination__previous btn btn-primary" href="{{ .Paginator.Prev.URL }}"
        role="button">{{ partial "svg-icons/chevron-left.svg" . }}Previous</a>
    <a class="pagination__numbers" href="{{ .Paginator.First.URL }}" role="button">1</a>
    {{ end }}

    {{ if eq $minPages 2 }}
    <a class="pagination__numbers" href="{{ .Paginator.Prev.URL }}" role="button">{{ sub .Paginator.PageNumber 1 }}</a>
    {{ end }}

    {{ if gt $minPages 2 }}
    <span class="pagination__numbers pagination__dots">...</span>
    {{ end }}

    <span class="pagination__numbers pagination__current">{{.Paginator.PageNumber}}</span>

    {{ if eq $maxPages 2 }}
    <a class="pagination__numbers" href="{{ .Paginator.Next.URL }}" role="button">{{ add .Paginator.PageNumber 1 }}</a>
    {{ end }}

    {{ if gt $maxPages 2 }}
    <span class="pagination__numbers pagination__dots">...</span>
    {{ end -}}

    {{ if .Paginator.HasNext -}}
    <a class="pagination__numbers" href="{{ .Paginator.Last.URL }}" role="button">{{ .Paginator.TotalPages }}</a>
    <a class="pagination__next btn btn-primary" href="{{ .Paginator.Next.URL }}"
        role="button">Next{{ partial "svg-icons/chevron-right.svg" . }}</a>
    {{- end }}
</div>
{{ end -}}