<div class="share-buttons flex flex-column flex-center">
    <div class="share-buttons__header bg-primary w-100 text-align-center text-color-white">Share</div>
    <ul class="flex flex-row flex-column-md flex-center">
        <li class="share-buttons__list-items">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" title="Share on Facebook" target="_blank" class="share-buttons__link">
                {{ partial "svg-icons/facebook.svg" . }}
            </a>
        </li>
        <li class="share-buttons__list-items">
            <a href="https://twitter.com/intent/tweet?source={{ .Permalink }}" target="_blank" title="Tweet" class="share-buttons__link">
                {{ partial "svg-icons/twitter.svg" . }}
            </a>
        </li>
        <li class="share-buttons__list-items">
            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}" target="_blank" title="Share on LinkedIn" class="share-buttons__link">
                {{ partial "svg-icons/linkedin.svg" . }}
            </a>
        </li>
        <li class="share-buttons__list-items">
            <a href="mailto:?subject=&body={{ .Permalink }}" target="_blank" title="Send email" class="share-buttons__link">
                {{ partial "svg-icons/email.svg" . }}
            </a>
        </li>
    </ul>
</div>