.grid-columns-3 {
    display: grid;
  
    @include breakpoint(sm) {
      grid-template-columns: repeat(2, 1fr);
    }
  
    @include breakpoint(md) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  